<body class="bg-img-hero-fixed" style="background-image: url(./assets/svg/illustrations/error-404.svg);">
    <main id="content" role="main" >
        <!-- Hero Section -->
        <div class="d-lg-flex">
          <div class="container d-lg-flex align-items-lg-center min-vh-lg-100 space-4">
            <div class="w-lg-60 w-xl-50">
              <!-- Title -->
              <div class="mb-4">
                <img class="max-w-23rem mb-3" src="/assets/svg/illustrations/error-number-404.svg" alt="SVG Illustration">
                <p class="lead">¡UPS! Parece que siguió un enlace incorrecto.</p>
              </div>
              <!-- End Title -->
    
              <a class="btn btn-wide btn-primary transition-3d-hover" href="/">Regresar al inicio</a>
            </div>
          </div>
        </div>
        <!-- End Hero Section -->
      </main>
</body>
